mat-form-field {
  margin: 0 5px;
}

.selection-fix {
  min-width: 200px;
}


.sellers {
  border: solid 1px #ebeff3;
  border-radius: 3px;
  margin: 0 5px 20px 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  min-width: 250px;

  .header {
    background-color: #ebeff3;
    height: 45px;

    span {
      padding-left: 10px;
      font-weight: 800;
      display: flex;
      justify-content: center;
      align-self: center;
      color: #039be5;
      font-size: large;
    }
  }
}


.ngx-datatable.material.single-selection .datatable-body-row.active, .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-selection .datatable-body-row.active, .ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active, .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
  background-color: #039be5;
}

.grid-textbox {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  background-color: #fff;
}

.datatable-body-cell-label {
  width: 100%;
}

.datatable-body-cell-label select {
  width: 100%;
  height: 30px;
  border-radius: 3px;
}

.label {
  width: 100%;
  height: 30px;
  display: inline-block;
  padding-top: 10px;
}

.grid-header-button {
  background-color: #e0dbdb !important;
}


.search_button {
  margin: 8px 0 8px 10px;
}
.radio-label {
  align-self: center;
}
