<div id="user" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">
  
      <!-- HEADER -->
      <div class="header accent"
           fxLayout="row" fxLayoutAlign="space-between center">
  
        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">        
  
          <div fxLayout="column" fxLayoutAlign="start start"
               [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
            <div class="h2">
              Customer Tax Login Passowrd
            </div>
  
          </div>
        </div>
        <!-- / APP TITLE -->
  
      </div>
      <!-- / HEADER -->
      <!-- CONTENT CARD -->
      <div class="content-card">
  
        <!-- CONTENT -->
        <div class="content">
          <div fxLayout="row" fxLayoutAlign="center center"  style="margin-top: 50px;margin-bottom: 40px;">
            <button class="mr-8" mat-raised-button type="submit" (click)="refresh()" color="accent">
              Refresh
            </button>
            <button mat-raised-button type="button" color="basic" (click)="process()">
              Process
            </button>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex>
              <grid [dataSet]="rowData" [gridColDef]="columnDef" ></grid>
            </div>
          </div>      
  
        </div>
        <!-- / CONTENT -->
  
      </div>
      <!-- / CONTENT CARD -->
  
    </div>
    <!-- / CENTER -->
  </div>
  
  
  
  